.header{
	
	height: 50px;

	h1{
		float: left;
		padding: 0px;
		padding-top: 10px;
		margin: 0px;
		margin-left: 20px;
		color: #EEE;
		font-weight: normal;
	}

	strong{
		color: #04B600;
		font-weight: normal;
	}

	nav{
		padding-top: 20px;

		ul{
			float: right;
			li{
				display: inline-block;
				padding-right: 30px;
				color: #CCC;
				font-size: 1em;
			}
		}
	}
}