@import "home/main.component.scss";
@import "header/header.component.scss";

*{
	font-family: "Microsoft Yi Baiti","Verdana";
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

html{
	background-color: #111;
}