/* You can add global styles to this file, and also import other style files */
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  margin: 0 auto;
  transform: translateY(20%);
  width: 50%;
  align-items: flex-start;
}
.content .cta {
  transform: translateX(-1000px);
  transition: all 1s ease-in-out;
  opacity: 0;
  order: 0;
  flex: 0 1 auto;
  align-self: stretch;
  color: #eee;
  vertical-align: middle;
  display: none;
  height: 60vh;
}
.content .cta.active {
  display: flex;
  opacity: 1;
  transform: translateX(0px);
}
.content .cta .cta-image {
  height: 100%;
  margin: 0 auto;
  flex: 6 1 auto;
  align-self: stretch;
  order: 0;
}
.content .cta .cta-image img {
  position: relative;
  margin: 0 auto;
  float: left;
  height: 70%;
  -webkit-transform: translateY(10%);
  transform: translateY(25%);
}
.content .cta .cta-text {
  transform: translateY(15%);
  height: 80%;
  margin-left: 50px;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
}
.content .cta .cta-text h1 {
  margin-bottom: 30px;
  font-size: 2.5em;
  font-weight: 100;
}
.content .cta .cta-text p {
  font-size: 1.2em;
  margin-bottom: 50px;
  font-weight: lighter;
}
.content .cta .cta-text .cta-button p {
  font-size: 1.2em;
  display: block;
  padding: 10px 15px;
  background: #04B600;
  position: relative;
  cursor: pointer;
}
.content .cta .cta-text .cta-button p:hover {
  background: #04a500;
}
.content .cta .cta-text .cta-button p:after {
  background: #111;
  content: "";
  cursor: default;
  display: block;
  height: 120%;
  position: absolute;
  right: -0.4em;
  top: -0.1em;
  transform: skewX(-20deg);
  width: 8.125em;
}
.content .breadcrumb {
  margin: 0 auto;
}
.content .breadcrumb [class^=circle] {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid #eee;
  display: inline-block;
  margin-right: 5px;
}
.content .breadcrumb [class^=circle].active {
  background: #eee;
}
.content .age-gender-form {
  order: 0;
  flex: 0 1 auto;
  align-self: stretch;
  color: #eee;
  display: flex;
  vertical-align: middle;
  height: 60vh;
  opacity: 1;
  background-color: #333;
  transform: translateX(1000px);
  opacity: 0;
  display: none;
}
.content .age-gender-form.active {
  transform: translateX(0px);
  opacity: 1;
  display: flex;
}

@media screen and (max-width: 1280px) {
  .content {
    width: 65%;
  }
}
@media screen and (max-width: 1000px) {
  .content {
    width: 75%;
  }
}
@media screen and (max-width: 775px) {
  .content {
    width: 95%;
  }
}
.header {
  height: 50px;
}
.header h1 {
  float: left;
  padding: 0px;
  padding-top: 10px;
  margin: 0px;
  margin-left: 20px;
  color: #EEE;
  font-weight: normal;
}
.header strong {
  color: #04B600;
  font-weight: normal;
}
.header nav {
  padding-top: 20px;
}
.header nav ul {
  float: right;
}
.header nav ul li {
  display: inline-block;
  padding-right: 30px;
  color: #CCC;
  font-size: 1em;
}

* {
  font-family: "Microsoft Yi Baiti", "Verdana";
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html {
  background-color: #111;
}

/*# sourceMappingURL=src/styles.css.map */
